.layout-container {
  // height: 100%;
  min-height: 100%;
  .container {
    margin: 30px 0 0 0;
    background: #fff;
    padding: 24px;
    height: auto;

    .table {
      margin-top: 20px;
      table {
        border: 1px solid #e8e8e8;
        // .ant-table-thead > tr > th {
        //   // background-color: #40a9ff;
        //   // color: #fff;
        // }
      }
    }
  }
  
}