.layout-container {
  min-height: 100%;
}
.layout-container .user-info img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.layout-container .user-info:hover .user-operation-list {
  display: block;
}
.layout-container .user-info .user-operation-list {
  display: none;
  top: 100%;
  width: 100%;
  border-top: 1px solid #f0f0f0;
  background-color: #001529;
  border-radius: 4px;
}
.layout-container .user-info .user-operation-list li {
  height: 36px;
  line-height: 36px;
  color: #fff;
}
.layout-container .user-info .user-operation-list li:hover {
  opacity: .8;
}
.layout-container .container {
  margin: 30px 0 0 0;
  background: #fff;
  padding: 24px;
  height: auto;
}
.layout-container .container .table {
  margin-top: 20px;
}
.layout-container .container .table table {
  border: 1px solid #e8e8e8;
}
