.preview-img {
  margin-right: 20px;
  margin-bottom: 20px;
}
.preview-img img {
  width: 104px;
  height: 104px;
  border: 1px solid #e5e5e5;
  padding: 8px;
  border-radius: 4px;
}
.preview-img i {
  font-size: 16px;
  right: -8px;
  top: -8px;
  z-index: 99;
  cursor: pointer;
}
