.article-form .article-title {
  margin-bottom: 20px;
}
.article-form .ant-upload.ant-upload-select-picture-card {
  margin-top: 30px;
}
.article-form footer {
  margin-top: 30px;
}
.article-form .preview-img {
  width: 102px;
  height: 102px;
  display: inline-block;
  vertical-align: top;
  margin: 30px 15px 15px 0;
}
.article-form .preview-img .pos-ab {
  right: -6px;
  top: -6px;
  z-index: 3;
}
.article-form .preview-img image {
  width: 100%;
  height: 100%;
}
#ueditor {
  width: 100%;
}
#ueditor .edui-editor {
  width: 100% !important;
}
#ueditor .edui-editor #edui1_iframeholder {
  width: 100% !important;
}
