
.article-form {
	.article-title {
		margin-bottom: 20px;
	}
	.ant-upload.ant-upload-select-picture-card {
		margin-top: 30px;
	}
	footer {
		margin-top: 30px;
	}
}

#ueditor {
	width: 100%;
	.edui-editor {
		width: 100% !important;
		#edui1_iframeholder {
			width: 100% !important;
		}
	}
}